header
    div.large-header
        div
            div
                a(href='https://www.saturncrm.com/')
                    img.large-header-dashboard-icon(src='/images/dashboard-grid-icon.png', alt='Dashboard 3x3 grid icon')
            div
                a(href='https://www.saturncrm.com/')
                    img.large-header-logo(src='/images/saturn-crm-default-header-logo.png', alt='Saturn CRM Default Header Logo')
        div
            include search-bar
        div.large-header-navigation-bar
            div.large-header-icon-bar
                i.fa-solid.fa-question
                i.fa-solid.fa-gear
                i.fa-solid.fa-bell
            div
                include workspace-selector
            div
                img.large-header-profile-picture(src='/images/profile-picture-placeholder.png', alt='Profile picture placeholder')