header
    div.header
        div
            div
                a(href='https://www.saturncrm.com/')
                    img.header-dashboard-icon(src='/images/dashboard-grid-icon.png', alt='Dashboard 3x3 grid icon')
            div
                a(href='https://www.saturncrm.com/')
                    img.header-logo(src='/images/saturn-crm-default-header-logo.png', alt='Saturn CRM Default Header Logo')
        div.header-search-bar
            form(action='/search', method='get', id='searchForm')
                div.search-controls
                    div
                        button(type='submit', id='searchButton')
                            i.fa-solid.fa-search
                        input(type='text', name='q', placeholder='Search for anything...', id='searchInput')
                    div
                        button(type='button', id='clearButton')
                            i.fa-solid.fa-times
        div.header-navigation-bar
            div.header-icon-bar
                a(href='#')
                    i.fa-solid.fa-search
                a(href='#')
                    i.fa-solid.fa-question
                a(href='#')
                    i.fa-solid.fa-gear
                a(href='#')
                    i.fa-solid.fa-bell
            //div.header-workspace-selector
            //    select(id='workspaceSelector', name='workspace')
            //        option.workspace-selector-placeholder(value='', hidden, selected) Select Workspace
            div
                img.header-profile-picture(src='/images/profile-picture-placeholder.png', alt='Profile picture placeholder')
            div.small-header-navigation-menu
                i.fa-solid.fa-ellipsis-vertical
    //div.sub-header
    //    div.sub-header-item
    //        a(href='#') Home
    //    div.sub-header-item
    //        a(href='#') Leads
    //    div.sub-header-item
    //        a(href='#') Accounts
    //    div.sub-header-item
    //        a(href='#') Opportunities
    //    div.sub-header-item
    //        a(href='#') Contacts
    //    div.sub-header-item
    //        a(href='#') Files
    //    div.sub-header-item
    //        a(href='#') Reports
    //    div.sub-header-plus
    //        button
    //            i.fa-solid.fa-plus