/* Global Styling */

html {
  background-color: #7f00ff;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
main {
  background-color: #7200e6;
  color: #ffffff;
}
section {
  padding: 4%;
}

/* Header */

header {
  background-color: #7f00ff;
  height: 100%;
}

/* Header */

.header {
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 60px;
}
.app-launcher-btn {
  border: none;
  cursor: pointer;
  padding: 12px;
  background-color: transparent;
}
.app-launcher-btn:hover {
  background-color: #6600cc;
  border-radius: 50%;
}
.header-inner {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.header-logo {
  height: 50px;
}
.header-dashboard-icon {
  height: 20px;
  filter: invert(100%);
}
.header-navigation-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-icon-bar {
  border-right: 2px solid #ffffff;
  padding: 0 15px;
}
.header-icon-bar i, .small-header-navigation-menu i {
  color: #ffffff;
  font-size: 18px;
}
.header-profile-picture {
  height: 25px;
  border-radius: 50%;
}
.header-navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 864px) {
  .header-search-bar {
    display: none;
  }
}
@media screen and (min-width: 864px) {
  .header-icon-bar a:first-child {
    display: none;
  }
}
.header-search-bar {
  padding: 5px 10px;
  color: #eeeeee;
  background-color: #7200e6;
  font-weight: 500;
  border: none;
  width: 30vw;
  border-radius: 10px;
  cursor: pointer;
}
.search-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-direction: row;
}
.search-controls div:first-child {
  width: 100%;
}
.header-search-bar input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #eeeeee;
}
.search-controls button {
  background-color: transparent;
  border: none;
}
.search-controls button i {
  color: #eeeeee;
  opacity: 0.7;
  cursor: pointer;
}
.header-search-bar input:focus {
  outline: none;
}
.header-workspace-selector {
  padding: 5px 10px;
  color: #eeeeee;
  background-color: #7200e6;
  font-weight: 500;
  border: none;
  max-width: 150px;
  border-radius: 10px;
}
.header-workspace-selector select {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  max-width: 150px;
}
.header-workspace-selector select:focus {
  background-color: transparent;
}
.header-workspace-selector select:focus option {
  color: #000000;
  background-color: #eeeeee;
}
@media screen and (min-width: 540px) {
  .small-header-navigation-menu {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .header-icon-bar, .header-workspace-selector {
    display: none !important;
  }
}

/* Sub-Header */

.sub-header {
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: row;
  height: 30px;
}
.sub-header-item a {
  text-decoration: none;
  color: #ffffff;
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.sub-header-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-header-item a:active, .sub-header-item a:hover {
  /* Must use JS to keep when active */
  background-color: #7200e6;
}
.sub-header-plus {
  margin: 0 15px;
}
.sub-header-plus button {
  background-color: #7200e6;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

/* Header Side Menu */

#app-launcher {
  opacity: 1;
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #7f00ff;
  z-index: 9999;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.active {
  opacity: 1;
  transform: translateX(0);
}

.inactive {
  opacity: 1;
  transform: translateX(-400px);
}
.app-launcher {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  height: 90%;
}
.app-launcher-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.app-launcher-top a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
.app-launcher-top a:hover {
  text-decoration: underline;
}
.app-launcher-top div:last-child i {
  padding-left: 15px;
}
.app-logo {
  height: 60px;
  text-align: center;
}
.app-launcher-main hr {
  margin-bottom: -10px;
  border-top: 1px solid #ffffff;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  height: 1px;
  width: 100%;
}
.app-launcher-middle-container-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.app-launcher-middle-container-1 h3 {
  color: #ffffff;
  margin: 0;
}
.app-launcher-middle-container-1 a {
  color: #ffffff;
  text-decoration: none;
}
.app-launcher-middle-container-1 p {
  margin: 0;
  font-size: 10px;
  text-align: center;
}
.app-launcher-middle-container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.app-launcher-middle-container-2 div {
  padding: 0 10px;
}
.app-launcher-middle-container-2 div:hover {
  background-color: #6600cc;
  border-radius: 5px;
}
.app-launcher-middle-container-2 a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}
.apps-nav a:hover {
  text-decoration: underline;
}
.app-launcher-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: row;
}
.app-launcher-bottom a, .app-launcher-bottom i {
  color: #ffffff;
  text-decoration: none;
}
.app-launcher-bottom a:hover {
  color: #eeeeee;
}
.app-launcher-bottom i {
  font-size: 2px;
  padding-bottom: 10px;
}
.app-launcher-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.app {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}
.app p {
  padding-bottom: 10px;
}
.app:hover {
  transform: translateY(-5px);
  background-color: #6600cc;
}
.apps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
}
.apps-nav a {
  font-weight: 600;
}
.apps-nav i {
  padding-left: 15px;
}

/* Workspaces Global */

.workspace-templates-container:last-child, .active-workspaces {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 23%);
  place-items: stretch;
}
@media screen and (max-width: 1369px) {
  .active-workspaces, .workspace-templates-container:last-child {
    grid-template-columns: repeat(auto-fit, 31%);
  }
}
@media screen and (max-width: 1022px) {
  .active-workspaces, .workspace-templates-container:last-child {
    grid-template-columns: repeat(auto-fit, 48%);
  }
}
@media screen and (max-width: 543px) {
  .active-workspaces, .workspace-templates-container:last-child {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
#create-workspace-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2%;
  margin-right: 2%;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  z-index: 9999;
}
#create-workspace-btn:hover {
  background-color: #f4f4f4;
}
#create-workspace-btn i {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 20px;
  font-weight: 900;
}

/* Workspaces */

.workspace-templates {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.workspace-templates-container:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.create-workspaces-title {
  padding: 10px 15px;
}
.create-workspaces-title h3 {
  padding: 0;
  margin: 0;
}
.workspace-templates-nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
}
.workspace-templates-nav h3, .workspace-templates-nav i {
  margin: 0;
  padding: 0;
}
.workspace-templates-nav {
  padding: 10px 15px;
  cursor: pointer;
}
.workspace-templates-nav:hover {
  background-color: #6600cc;
  border-radius: 15px;
}
.workspace-template {
  border-radius: 15px;
  background-color: #7f00ff;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #bb86fc;
}
.workspace-template a {
  text-decoration: none;
  color: #ffffff;
}
.workspace-template:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
  border: 1px solid #ffffff;
}
.workspace-templates-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.workspace-template div:last-child {
  padding: 10px 15px;
}

/* Active Workspaces */

.active-workspaces-section {
  background-color: #7f00ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.active-workspaces-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 15px;
}
.active-workspace-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active-workspaces-nav fieldset {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  /* Making font size default of h3 */
  font-size: 1.1em;
}
.active-workspaces-nav select {
  border: none;
  cursor: pointer;
  max-width: 150px;
  background-color: transparent;
  color: #eeeeee;
  font-weight: 500;
  font-family: inherit;
  /* Making font size default of h3 */
  font-size: 1em;
}
.active-workspaces-nav div:nth-child(2) {
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
}
.active-workspaces-nav div:nth-child(2):hover {
  background-color: #6600cc;
}
.active-workspaces-nav select:focus option {
  color: #000000;
  background-color: #eeeeee;
}
.active-workspace a {
  text-decoration: none;
  color: #ffffff;
}
.active-workspace {
  background-color: #7f00ff;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #bb86fc;
}
.active-workspace:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
  border: 1px solid #ffffff;
}
.active-workspace-preview img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.active-workspace-nav img {
  width: 30px;
  height: 30px;
}
.active-workspace-details {
  padding: 10px 15px;
}
.active-workspace-nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.active-workspace-nav div:last-child {
  padding: 8px 13px;
}
.active-workspace-nav i {
  margin: 0;
  padding: 0;
}
.active-workspace-nav div:last-child:hover {
  background-color: #6600cc;
  border-radius: 50%;
}

/* No Workspaces */

.no-workspaces {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  height: 80vh;
  padding: 0 10%;
}
.no-workspaces-icon {
  height: 150px;
  width: auto;
}
.no-workspaces h3, .no-workspaces p {
  text-align: center;
  margin: 0;
}
.no-workspaces a {
  background-color: #04AEC4;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 700;
  text-align: center;
}
.no-workspaces a:hover {
  transition: transform 0.3s ease;
  transform: translateY(-5px);
}